body {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
}

.semaforo {
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin: 10px auto;
}

